[Basic Data Exploration](#basic-explor)

[Bivariate analysis](#bivar)

## Course Structure

1. Module 0 - Native Data Types in Python
2. Module 1 - Intro to Pandas library & Basis Dataframe attributes
3. Module 2 - Common Data manipulation tasks using Pandas
4. Module 3 - Loops and Functions 
5. Module 4 - Visualization
6. Module 5 - Other miscellaneous topics

In [97]:
your_local_path="C:\\Users\\COMPUTER\\Documents\\"

# Basic data types

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [21]:
# List, Dictionary, Tuple

myList=[20,30,40,50,60,70]
myList

print (myList[2:-1])

print (myList[2:])

[20, 30, 40, 50, 60, 70]

[40, 50, 60]
[40, 50, 60, 70]

In [22]:
x = [1,"b",3]

In [23]:
x[1]

'b'

In [29]:
dict = {"James": "cool", "Dan": "uncool", "Bob": "Rotten"}

dict["Bob"]

dict["Bob"]="cool"

dict["Bob"]

'Rotten'

'cool'

In [34]:
student_dict = {"s_1":["IBM","TCS"],"s_2" :["HP"], "s_3":["INFOSYS","WIPRO"]}

student_dict["s_3"]
student_dict["s_3"][2]

['INFOSYS', 'WIPRO']

IndexError: list index out of range

In [35]:
[val for k,val in student_dict.items()]

[['IBM', 'TCS'], ['HP'], ['INFOSYS', 'WIPRO']]

In [36]:
x = ["abe",1,"c"]

In [37]:
dist_ex = {"S1":["HCL","TCS"],"S2":["Benz"]}

In [38]:
for k,v in dist_ex.items():
    if k == "S1":
        print(k)

S1

In [39]:
x.append("h")

In [40]:
x

['abe', 1, 'c', 'h']

In [41]:
tup_ex = (1,2,3,1)

# This is a test of python functions

In [ ]:
# !pip install pandas
# exclamation means it executes from command prompt

In [43]:
list_ex = [1,2,3]
dist_ex = {"Age":25,"Weight":70}

tup_ex = (1,2,3,1)

In [44]:
from pandas import read_csv

In [88]:
# read the data
import pandas as pd
import numpy as np
df = pd.read_csv("C:\\Users\\COMPUTER\\Documents\\Uber_Drives_2016.csv")

In [89]:
df = pd.read_csv("C:\\Users\COMPUTER\Documents\\Uber_Drives_2016.csv")

In [90]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,Meeting
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

# Key Modules

1. Basic Dataframe operations
2. Common data manipulation tasks
3. Loops and Functions

## Basic dataframe operations

In [77]:
type(df)

pandas.core.frame.DataFrame

In [87]:
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,Meeting
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [72]:
df.shape

(1156, 7)

In [75]:
hasattr(df,"head")
callable(getattr(df,"head"))

True

True

In [73]:
df.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [74]:
df.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

### Changing data types

In [78]:
temp = pd.DataFrame({"A":["1","2","3"],"B":[11,12,13],"C": ["12-06-2012","13-06-2015","15-06-2017"]})

In [79]:
temp.dtypes

A    object
B     int64
C    object
dtype: object

In [80]:
temp["C"] = pd.to_datetime(temp["C"])

C:\Users\COMPUTER\AppData\Local\Temp\ipykernel_19780\2705610460.py:1: UserWarning: Parsing '13-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  temp["C"] = pd.to_datetime(temp["C"])
C:\Users\COMPUTER\AppData\Local\Temp\ipykernel_19780\2705610460.py:1: UserWarning: Parsing '15-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  temp["C"] = pd.to_datetime(temp["C"])

In [81]:
temp["A"] = pd.to_numeric(temp["A"])

In [82]:
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [83]:

temp["A"] = temp["A"].astype(str)

In [84]:
temp.dtypes

A            object
B             int64
C    datetime64[ns]
dtype: object

In [93]:
df.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [99]:
from datetime import datetime, date, time

In [131]:
# convert data to datetime format

pd.to_datetime(df[START_DATE*])
# Available time formats: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

SyntaxError: invalid syntax (2682906532.py, line 3)

### Dataset summarization methods

In [ ]:
df.describe(include="all")

In [ ]:
df.info()

In [ ]:
# count of unique start locations
df["START*"].value_counts().head()

## Common data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

### Select/Indexing

In [ ]:
df.iloc[0:4,[0,3]]

In [ ]:
## Positional Indexing
df.iloc[0:4,[0,1]]

In [ ]:
df.iloc[0:4,0:3]

In [ ]:
# label based indexing
df.loc[:,["START_DATE*","CATEGORY*"]].head()

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

### Filtering

In [ ]:
df2 = df.loc[df["MILES*"] > 10,["MILES*"]]

In [ ]:
df3 = df2.loc[0:3]

In [ ]:
# find out all rides greater than 10 miles
df.loc[df["MILES*"] > 10].head()

In [ ]:
# Find out all rides to Cary
df.loc[df["START*"]=="Cary",["MILES*"]].head()

In [ ]:
# Find out all rides to Cary & Morrisville          
df[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
# Find out all rides to Cary & Morrisville          
df.loc[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
df.loc[~df["START*"].isin(["Cary","Morrisville"])].shape

#### In class assignment

1. Find all trips with distance > 10 miles and originating from Cary and Morris.

2. Extract top 3 rows from the filtered dataset

### Sorting

In [ ]:
df.sort_values(by=["MILES*"],ascending=False).head(5)

In [ ]:
df.sort_values(by=["START*", "MILES*"],ascending=[True,False]).head(5)

### Conditionally adding columns

In [ ]:
import numpy as np
df["miles_cat"] = np.where(df["MILES*"] > 5,"Long Trip","Short Trip")

In [ ]:
df.head()

In [ ]:
df["miles_cat"].value_counts()

In [ ]:
df.loc[df["MILES*"] > 5].shape

## In class Assignment

Create a new column with the following condition:

a) > 10 - Long Trip

b) 5 - 10  - Medium

c) < 5 - Short Trip

### Groupby Summarize

In [ ]:
# for each start loc find the mean distance travelled
df.groupby("START*")["MILES*"].agg("mean").head()

In [ ]:
# for each start loc find the mean & the total dist travelled
df.groupby("START*").agg(["mean","sum"]).head()

### In class assignment

Find most recent & the earliest travelled date and mean distance traveled for each start city

## Loops and Function

In [ ]:
# Basic for loop
res = []
temp = [1,2,3,4]
for i in temp:
    res.append(i*i)
res

In [ ]:
# List comprehension way

[x*x for x in temp]

In [ ]:
store_sales = pd.read_csv("store_sales.csv")

In [ ]:
store_sales.head()

In [ ]:
# find out avg sales for each month
# find out avg sales for each store

In [ ]:
def bonus_func(sales_numbers):
    return ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]

In [ ]:
bonus_func([12,23,56])

In [ ]:
store_sales.iloc[:,2:].apply(bonus_func).head()

In [ ]:
store_sales.iloc[:,2:].apply(lambda sales_numbers: ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]).head()

In [ ]:
store_sales.columns

In [ ]:
store_sales.groupby("city").agg("mean")

### Assignments

1) Find mean quarterly sales by store

2) Find the month with highest sales for each store

## Other/Miscellaneous topics

### Missing value treatment

In [ ]:
df.isnull().sum()

In [ ]:
## Count missing values
df.isnull().sum()

In [ ]:
# Fill NA with most common values
df["PURPOSE*"].value_counts()

In [ ]:
df = df.fillna({"PURPOSE*":"Meeting"})

In [ ]:
df["PURPOSE*"].value_counts()

### Matrix operations use case

### Example 1 - compute month on month growth in sales

In [ ]:
store_sales.head()

In [ ]:
sales_mat = np.array(store_sales.iloc[:,2:])

In [ ]:
sales_mat

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag = np.c_[sales_mat_lag,np.zeros(100)]

In [ ]:
sales_diff = sales_mat_lag - sales_mat

In [ ]:
perct_change = pd.DataFrame(sales_diff/sales_mat)

In [ ]:
perct_change.head()

### Example 1 - compute net revenue

In [ ]:
profit_mat = np.random.uniform(low=0.05, high=0.25, size=(100,12))

In [ ]:
## Find total annual profit for each store
profit_mat = profit_mat.transpose()

In [ ]:
profit_mat.shape

In [ ]:
prof_matrix = np.dot(sales_mat,profit_mat)

In [ ]:
prof_matrix.shape